<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'landingpage.css' %}">

    <title>Your Story</title>
  </head>

  <body>

    <section id="form" class="home container-fluid" style="height: 100%;">
    <div class="row">
      <div class="col">

      <br><br><br>
      <center><div class = "judul">Let's Spread Your Story</div></center> <br>

        <form method="POST" action="#cuitan" style="font-size:24px; font-style: italic; font-family: Merriweather; padding-left: 10%; padding-right: 10%;">

            {% csrf_token %}
            <div class="form-group">
                <textarea type="text" class="form-control" name="ShareStory" maxlength="300" rows="4" id="ShareStory" placeholder="Write your story here"></textarea>
            </div>
            <center>
              <button position="absolute" align="center" type="submit" class="btn btn-primary" id="submit" href="#cuitan" style="font-weight: bold;">Share</button>
            </center>
        </form>

      </div>
    </div>
    </section>


    <section id="cuitan" class="home container-fluid">

    <div class="table-responsive">
      <table class="table" style="width:100%; font-size: 30px;border: solid black 2px;">
        <tr style="background-color: cyan; font-size: 35px;">
          <th style="width: 25%; border-right:solid black 2px; border-bottom:solid black 2px; "><center>Time</center></th>
          <th style="border-bottom:solid black 2px; "><center>Story</center></th>
        </tr>
        {% for cerita in hasilStory %}
        <tr>
          <td style="border-right:solid black 2px; "><center>{{ cerita.time }}<center></td>
          <td style="width: 100%; word-break: break-word;"><center>{{ cerita.ShareStory }} <center><br></td>
        </tr>
        {% endfor %}
      </table>
    </div>

    </section>



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>